[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.9.3"
pytelegrambotapi = "==4.7.0"
python-decouple = "==3.6"

[dev-packages]

[requires]
python_version = "3.9"
